.el-dialog__wrapper {
  position: absolute;
  height: 100%;
}

.left {
  /* margin-left: 60px; */
  /* margin-right: 332px; */
}

.left,
.right {
  display: inline-block;
  /* width: 530px; */
  width: 49%;
  height: 100%;
  vertical-align: top;
}

.left>div,
.right>div {
  margin-bottom: 40px;
  line-height: 100%;
}

.left .input,
.right .input {
  width: 400px;
  border-radius: 6px;
  font-size: 15px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
}

.left label:not(.el-upload-list__item-status-label),
.right label:not(.el-upload-list__item-status-label) {
  font-size: 15px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #585b63;
  margin-right: 15px;
  display: inline-block;
  width: 100px;
  text-align: left;
  font-weight: bold;
}

>>>.el-dialog {
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}

>>>.el-input__inner {
  background: #EBEBEB;
  font-size: 15px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #585b63;
}

>>>.el-textarea__inner {
  background: #EBEBEB;
  font-size: 15px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #585b63;
  min-height: 232px !important;
}

>>>.el-dialog__header {
  background: #EBEBEB;
}

>>>.Target >>>.el-textarea__inner {
  min-height: 232px !important;
}

>>>.el-textarea__inner:focus,
>>>.el-input__inner:focus {
  border-color: #07d1aa;
}

>>>.el-radio__input.is-checked+.el-radio__label {
  color: #585b63;
}

>>>.el-radio__input.is-checked .el-radio__inner {
  background: #07d1aa;
  border-color: #d9d9d9;
}

>>>.el-radio {
  display: block;
}

>>>.el-radio:nth-child(1) {
  margin-bottom: 40px;
}

.allCatalogue div,
.oneCatalogue>.No {
  width: 50px;
  height: 40px;
  background: #ebebeb;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  line-height: 40px;
}

.oneCatalogue>.No .el-input__inner {
  padding: 0;
  text-align: center;
  border: none;
}

.allCatalogue {
  width: 200px;
  font-size: 15px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #585b63;
  height: 40px;
  line-height: 40px;
}

.allCatalogue span {
  vertical-align: top;
}

.allCatalogue,
.oneCatalogue>div:nth-child(2),
.allCatalogue div {
  display: inline-block;
}

.materialCatalogue {
  display: inline-block;
  margin-left: 115px;
}

.oneCatalogue {
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 15px;
  width: 526px;
  height: 40px;
}

.oneCatalogue>.input {
  vertical-align: middle;
  margin-left: 15px;
}

.laji {
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
}

>>>.el-checkbox .el-checkbox__label {
  font-weight: normal;
}

.uploadLabel {
  vertical-align: top;
}

>>>.upload-demo {
  display: inline-block;
}

>>>.upload-demo .el-upload-list {
  width: 400px;
}
>>>.el-dialog__footer{
   position: fixed;
   /* left: 50%; */
   bottom: 0;
   width: 88.17%;
   background: #EBEBEB;
   padding: 10px;
}
>>>.el-dialog__header{
  padding: 10px;
}
>>>.el-dialog__headerbtn{
   top: 15px;
}
.uploadText{
  text-align: center;
  color: orange;
  margin-bottom: 12px;
}
@media screen and (min-width: 1900px) {
  .left {
    margin-left: 131px;
    margin-right: 165px;
    /* width: 530px; */
    width: inherit;
  }
}
