
  .permission-tree {
    margin-bottom: 30px;
  }
  .roles-table {
    margin-top: 30px;
  }
  .svg-icon {
    margin-right: 3px;
  }
  >>> .el-table .warning-row {
    background: #f8f8f8;
  }
  >>> .el-table .success-row {
    background: #f2f2f2;
  }
  >>> .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #ebebeb !important;
  }
  >>> .el-table--border td:nth-child(1) {
    border-right: none;
  }
  >>> .el-table--border th:nth-child(1) {
    border-right: none;
  }
  >>> .el-table__header tr,
  >>> .el-table__header th {
    padding: 0;
    height: 60px;
  }
  >>> .el-table__body tr,
  >>> .el-table__body td {
    padding: 0;
    height: 60px;
  }
  >>> .noneColor {
    margin-left: -5px !important;
    border-radius: 0;
  }
  >>> .noneColor:nth-child(3),
  >>> .noneColor:nth-child(4),
  >>> .noneColor:nth-child(5) {
    border-right: none;
  }
  >>> .deletebutton {
    margin-right: 13px;
  }
  >>> .el-pagination {
    margin-top: 20px;
    float: right;
  }
  >>> .el-pagination.is-background .el-pager li,
  >>> .el-pagination.is-background .btn-next,
  >>> .el-pagination.is-background .btn-prev {
    width: 43px;
    height: 35px;
    line-height: 35px;
    background: rgba(242, 242, 242, 1);
    border-radius: 6px;
    border: 1px solid rgba(217, 217, 217, 1);
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(179, 179, 179, 1);
  }
  >>> .el-pagination.is-background .el-pager li:not(.disabled).active {
    color: #585b63;
    background-color: #d9d9d9;
  }
  >>> .el-pager li:hover {
    color: rgba(179, 179, 179, 1) !important;
  }
  
  >>> .el-button:focus {
    border-color: #dcdfe6;
  }
  .search {
    margin-top: 20px;
    margin-bottom: 20px; 
 
  }
  .search > div {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px
  }
  .input {
    width: 200px;
   
    border-radius: 6px;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color:#585b63
  }
  label {
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(88, 91, 99, 1);
    margin-right: 6px;
  }
  >>>.el-select .el-input.is-focus .el-input__inner,
  >>> .el-input__inner:focus {
    border-color: #07d1aa;
  }
  >>> .el-input__inner{
      color:#585b63
  }
  >>> .el-input__inner,
  >>> .el-input__inner::placeholder {
    background: #EBEBEB;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
  }
  .caozuo {
    color: #bfbfbf;
    cursor: pointer;
  }
  .caozuo:hover {
    color: #585b63;
  }
  .caozuoButton {
    padding: 0;
    border: none;
   background: none;
  }
  .caozuoButton:hover,.caozuoButton.is-plain:focus{
    background: none
  }